<div class="car-container">
    <section>
        <a href="/cars/rent?id={{this.id}}">
            <img src="{{this.imageUrl}}"
                alt='car-image' />
        </a>
    </section>
    <section class="info">
        <strong>{{this.make}}</strong> {{this.model}}
        <span class="rented">rented:
            <strong>{{this.timesRented}} </strong>time/s
        </span>
    </section>
</div>