<section id="featured">
    <h2>Latest article</h2>
    <article>
        {{#if latestArticle}}
        <h3>{{latestArticle.title}}</h3>
        <p>{{latestArticleContentNwords}}</p>
        <div class="controls">
            <a href="/getDetails?id={{latestArticle.id}}">Read more</a>
        </div>
        {{else}}
            <p style="font-style:italic">(no articles published)</p>
        {{/if}}
    </article>
</section>
<section id="recent">
    <h2>Recently added articles</h2>
    <ul>
        {{#each articles}}
        <li>
            <a href="/getDetails?id={{id}}">{{title}}</a>
        </li>
        {{else}}
            <p style="font-style:italic">(no articles published)</p>
        {{/each}}
    </ul>
</section>