<div class="spacer">
    <h2>{{articleTitle}}
        <div class="controls">
            {{!-- {{#if isAuthenticated}} --}}
                {{#if articleIsLocked}}
                    {{#if isAdmin}}
                        <a href="/articles/edit?id={{mostRecentEdit.articleId}}">[edit]</a>
                    {{/if}}
                {{else}}
                    <a href="/articles/edit?id={{mostRecentEdit.articleId}}">[edit]</a>
                {{/if}}
            {{!-- {{/if}} --}}
            <a href="/articles/history?id={{mostRecentEdit.articleId}}">[history]</a>
        </div>
    </h2>
    <article>
        <p>{{mostRecentEdit.content}}</p>
    </article>
</div>